{
  "presets": ["react-app"],
  "env": {
    "development": {
      "plugins": ["transform-class-properties"]
    },
    "production": {
      "plugins": ["transform-class-properties"]
    },
    "test": {
      "plugins": ["transform-class-properties"]
    }
  }
}
